/* .rights{
    border: 1px solid rgb(253, 250, 250);
    width: 600px;
    position: relative;
    padding: 20px 15px;
    font-size: 18px;
    background-color: rgb(236, 234, 234);
    margin-top: 25px;
    color: black;
    
}
.course{
    display: flex;
    flex-direction: row;
}
.rights div{
   /* border-bottom: 1px solid rgb(188, 185, 185);*/
   /* margin-bottom: 40px;
}
.page-main{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 100px;
}
.imgmain{
    display: flex;
    flex-direction: row;
}
.lefts{
    display: flex;
    flex-direction: column;
}
.subr{
    margin-left: 200px;
    margin-bottom: 200px;
}
.subl{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    
}

.val{
    position: absolute;
    border: 1px solid rgb(241, 234, 234);
   padding-right: 20px;
   padding-left: 0;
    top: 370px;
    left: 240px;
    display: none;
    background-color: #F0F7FD;
   
}
.val li{
    line-height: 35px;

}


.hev:hover + .val {
    display: block;
} */

.rights{
    border: 1px solid rgb(253, 250, 250);
    width: 600px;
    position: relative;
    padding: 20px 15px;
    font-size: 18px;
    background-color: rgb(236, 234, 234);
    margin-top: 25px;
    color: black;
    
}
.course{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.rights div{
   /* border-bottom: 1px solid rgb(188, 185, 185);*/
    margin-bottom: 40px;
}
.page-main{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 100px;
}
.imgmain{
    display: flex;
    flex-direction: row;
}
.lefts{
    display: flex;
    flex-direction: column;
    
}
.subr{
    margin-left: 200px;
    margin-bottom: 300px;
}
.subl{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    
}

.val{
    position: absolute;
    border: 1px solid rgb(241, 234, 234);
   padding-right: 20px;
   padding-left: 0;
    top: 370px;
    left: 240px;
    display: none;
    background-color: #F0F7FD;
   
}
.val li{
    line-height: 35px;

}


.hev:hover + .val {
    display: block;
} 

  .cors{
    background-color: white; 
    position: absolute; 
    top: 830px; 
    width: 550px; 
    left: 480px; 
    padding: 30px;
  } 
  /* @media(max-width:800px)
  {
      .cors{
          background-color: white; 
          position: absolute; 
          top: 1120px; 
          width: 550px; 
          left: 480px;
          padding: 30px;
      }
  
  } */
  
  /* @media(max-width:400px)
  {
      .cors{
          background-color: white; 
          position: absolute; 
          top: 1120px; 
          width: 550px; 
          left: 480px;
          padding: 30px;
      }
      .course{
        display: grid;
        grid-template-rows: 1fr;
    }
  } */