body{
   font-family: Arial, Helvetica, sans-serif;
   padding-top: 150px;
}

.head{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 2px;
    padding-bottom: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgb(171, 170, 170);
    background: linear-gradient(120deg, rgb(155, 216, 240) 1%, rgb(249, 180, 249) 110%);
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    margin-top: 15px;
    font-weight: bold;
    padding-right: 50px;
    position: fixed;
    top: 82px;
    left: 0;
    right: 0;
   /* background: linear-gradient(120deg, rgb(155, 216, 240) 1%, rgb(249, 180, 249) 110%);*/
  /*  background-color: brown;
  background-color: navy;*/
  background-image: linear-gradient(to right, #054a71, #333333);
  color: white;

}
.nav div{
    cursor: pointer;
    text-align: center;
    width: 100px;
    box-sizing: border-box;
    position: relative;
    
}
.main{
    width: 100px;  
    border: 1px solid transparent;
    padding: 15px 20px;
    border-radius: 8px;
    box-sizing: border-box;
    position: relative;
}

.main:hover{
    border: 1px solid white;
}
.nav li{
    font-weight: normal;
    padding-right: 0;
    text-align: left;
    white-space: nowrap;
    box-sizing: border-box;
    padding-right: 200px;
}
.hov/*, .hov1*/{
   display: none;
   list-style-type: none;
  line-height: 25px;

}
.hov li{
    border: 1px solid black;
    box-sizing: border-box;
    list-style-type: none;
    white-space: nowrap;
    padding-right: 220px;
    background-color: #b7d0e6;
    color: black;
}
.about:hover .hov/*, .about:hover .hov1*/{
    display: block;
}
.hov li:hover/*, .hov1 li:hover*/{
    background-color: blueviolet;
}
.about{
  /*  background-color: palevioletred;*/
}
/*.hov1 li{
    border: 1px solid black;
    list-style-type: none;
    padding-right: 120px;
}*/
.hov/*, hov1*/{
    right: 25px;
    position: absolute;
    top: 34px;
    white-space: nowrap;
    /*width: 210px;*/
    right: 5px;
}
